<!DOCTYPE html>
<html>
  <head>
    <title>MercuryAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=<%= Rails.application.secrets.google_api_key %>"></script>
    <%= filepicker_js_include_tag %>
  </head>

  <body>
  	<%= render partial: "layouts/header" %>
    <%= render partial: "layouts/flash" unless flash.empty? %>
    <%= yield %>
  </body>
</html>
